<!-- Herencia de 'padre.html'-->
{% extends "padre.html" %}

<!-- Imagen de la empresa-->
{% block ContenidoQueCambia1 %}

    <img class="img-fluid rounded-circle mb-4" src="https://www.infobae.com/new-resizer/5CWynjBhtiGrQtC4LRno-gCwhPI=/992x744/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/XDFCB4G2PBBP3PZVLIIMN2UQZU.jpg" alt="..." />

{% endblock ContenidoQueCambia1 %}

<!-- '¿Quienes somos?'-->
{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>¿Qué hacemos?</h2>
                    <p class="lead">SGV es una empresa fundada en el año 2020 en la Ciudad Autónoma de Buenos Aires. Cuenta con profesionales de gran experiencia en cada uno de los sectores.</p>
                    <p class="mb-0">Se especializa principalmente en el cálculo de estructuras. Ha desarrollado proyectos de diferentes tipos y de diferentes materiales como el hormigón armado, estructura metálica y estructura de madera. Ha desarrollado proyectos a nivel nacional e internacional.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}

<!-- Mail de contacto-->
{% block ContenidoQueCambia3 %}
                
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>¡Contactanos!</h2>
                    <p class="lead">Ante cualquier duda o consulta no dudes en comunicarte con nosotros. Escríbenos al mail de contacto en el siguiente link:</p>
                    <a href="mailto:sebastiangonzalezvescovo@gmail.com">Mail de contacto</a>
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia3 %}
