{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!--Mensaje para el Logout del usuario-->
                    <h4 class="mb-5">Gracias por visitarnos, vuelva pronto!</h4>  
                    <a href="{% url 'Inicio' %}">Volver al Inicio</a>  
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}
