<!-- Herencia de 'padre.html'-->
{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!--Descripción de quienes somos-->
                    <h2>¿Quienes somos?</h2>
                    <p class="lead">SGV = Sebastián González Vescovo</p>
                    <p class="mb-0">Sebastián es el fundador de la empresa SGV. Es un ingeniero civil recibido en la Universidad de Buenos Aires que se dedica al cálculo de estructuras.</p>
                    <br>
                    <p class="mb-0">Actualmente se encuentra desarrollándose en el área de la programación, particularmente en lenguaje Python, HTML y SQL.</p>
                    <br>
                    <p class="mb-0">La empresa cuenta con gran equipo de profesionales que se dedican a diferentes áreas.</p>
                    <br>
                    <hr style="border: 1px solid black; width: 100%;">
                    <br>
                    <!--Listado de profesionales de la empresa-->
                    <h2>Nuestros profesionales</h2>
                    <p class="lead">Estos son todos los profesionales de nuestra empresa:</p>
                    <ul>
                        {% for i in profesionales %}
                            <li>
                                <a href="{% url 'DetalleProfesional' i.id %}">
                                    {{i}}
                                </a>
                            </li>
                            <!--Botones para actualizar y eliminar-->
                            {% if user.is_superuser %}
                            <div style="display: flex; column-gap: 10px;">
                                <button>
                                    <a href="{% url 'ActualizarProfesional' i.id %}">Actualizar</a>
                                </button>
                                <button>
                                    <a href="{% url 'EliminarProfesional' i.id %}">Eliminar</a>
                                </button>
                            </div>
                            <br>   
                            {% endif %}                         
                        {% endfor %}
                    </ul>
                    <!--Link para agregar un nuevo profesional-->
                    {% if user.is_superuser %}
                    <a href="{% url 'CrearProfesional' %}">Agregar nuevo profesional</a>
                    <br>
                    {% endif %}  
                    <br>
                    <hr style="border: 1px solid black; width: 100%;">
                    <br>
                    <!--Formulario para buscar profesionales-->
                    <h2>Buscar profesionales:</h2>
                    <p class="lead">Podes buscar nuestros profesionales en el siguiente formulario:</p>
                    <form action="{% url 'ResultadosProfesionales' %}" method="get">
                        <p>Especialidad: <input name="especialidad"></p>
                        <button type="submit">Buscar</button>           
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}