<!-- Herencia de 'padre.html'-->
{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!--Formulario vacío para crear un nuevo profesional-->
                    <form action="{% url 'CrearProfesional' %}" method="post">{% csrf_token %}
                        {{form.as_p}}
                        <button type="submit">Crear</button>  
                    </form>              
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}