<!-- Herencia de 'padre.html'-->
{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!--Listado de proyectos de la empresa-->
                    <h2>Nuestros proyectos</h2>
                    <p class="lead">Estos son todos los proyectos de nuestra empresa:</p>
                </div>
            </div>
        </div>
    </section>

    <section class="proyecto-list">
        {% for i in proyectos %}
        <div class="card" style="width: 18rem;">
            <img src="https://img.asmedia.epimg.net/resizer/v2/YASYEGKADJL35FKMZR7ZH5CLPM.jpg?auth=4bbfbbd6ac3fed081294c25f70d4927637ab3016b74a3a994d8a2dcc08acb653&width=360&height=203&smart=true" class="card-img-top" alt="proyectos">
            <div class="card-body">
                <h5 class="card-title">{{i.nombre}}</h5>
                <p class="card-text">Ubicación: {{i.ubicacion}}</p>
                <br>
                <a href="{% url 'DetalleProyecto' i.id %}" class="btn btn-primary">Ver detalle</a>
                <br>
                <br>
                <!--Botones para actualizar y eliminar-->
                {% if user.is_superuser %}
                <button>
                    <a href="{% url 'ActualizarProyecto' i.id %}">Actualizar</a>
                </button>
                <button>
                    <a href="{% url 'EliminarProyecto' i.id %}">Eliminar</a>
                </button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">  
                    <!--Link para agregar un nuevo proyecto-->
                    {% if user.is_superuser %}
                    <a href="{% url 'CrearProyecto' %}">Agregar nuevo proyecto</a>
                    <br>
                    {% endif %}
                    <br>
                    <hr style="border: 1px solid black; width: 100%;">
                    <br>
                    <!--Formulario para buscar proyectos-->                  
                    <h2>Buscar proyectos:</h2>
                    <p class="lead">Podes buscar nuestros proyectos en el siguiente formulario:</p>
                    <form action="{% url 'ResultadosProyectos' %}" method="get">
                        <p>Nombre: <input name="nombre"></p>
                        <button type="submit">Buscar</button>           
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}