{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div>
                    <!--Formulario para iniciar sesión-->
                    <form action="{% url 'Register' %}" method="post">{% csrf_token %}
                        {{miFormulario.as_p}}
                        <button type="submit"> Registrar </button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}