<!-- Herencia de 'padre.html'-->
{% extends "padre.html" %}

{% block ContenidoQueCambia2 %}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!--Formulario completo para eliminar un socio-->
                    <form action="{% url 'EliminarSocio' socio.id %}" method="post">{% csrf_token %}
                        <p>¿Está seguro que desea eliminar este socio?</p>  
                        <button type="submit">Confirmar</button>
                        <button><a href="{% url 'ListaSocios' %}">Cancelar</a></button>  
                    </form>              
                </div>
            </div>
        </div>
    </section>

{% endblock ContenidoQueCambia2 %}